@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');



/*------------Logo, title, and navigation----------*/
header{
    margin: 0;
}

body{
    font-family: Quicksand, sans-serif;
}




.logo{
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    background-color: rgb(165, 116, 42);
    font-weight: 500;  
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    
    
}

.logoitem a{
    text-decoration: none;
}

.navigation{
    margin-top: 25px;
}

#menu li{
    float: left;
    list-style-type: none;
    margin-left: 25px;
    font-size: larger;
    
    
}

.nav-item{
    color: black;
}

.home-title{
    height: 120px;
    width: 30%;
    float: center;
    padding-top: 60px;
    margin: 0 auto;
    
}

#menu a{
    list-style-type: none;
    text-decoration: none;
}



.title{
  margin-left: 30%;
  text-align: center;
  text-transform: uppercase;
  
}


/*------------Gallery and photos----------*/
    
.mini-gallery{
    clear: both;
    margin-top: 50px;
    column-count: 3;
    column-gap: 0px;
    line-height: 0;
    
}

.photo1{
    height: 120%;
    width: 120%;
}

.photo4{
    height: 120%;
    width: 100%;
}

.photo7{
    height: 120%;
    width: 110%;
}

.photo8{
    height: 120%;
    width: 110%;
}

.photo9 {
    width: 100%;
}

.photo17{
    height: 180%;
    width: 100%;
}

img.photo20 {
    width: 121%;
}

.photo25{
    height: 100%;
    width: 120%;
}




/*------------Footer----------*/

.footer{
    font-family: Courgette, sans-serif;
    font-size: x-large;
    background-color:black;
    color:  rgb(165, 116, 42);
    

}

.footer-sites{
    padding-right: 40px;
    padding-left: 20px;
    margin-top: 20px;
    color: rgb(165, 116, 42);
   
}

.footer-socials{
    margin-top: 25px;
    margin-right: 18px;
    color:  rgb(165, 116, 42);
   
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

.footer-sites a{
    color: rgb(165, 116, 42);
    list-style-type: none;
}

.footer-socials a{
    color: rgb(165, 116, 42);
    list-style-type: none;
}



/*------------Supplies----------*/

.camera-supplies{
    column-count: 2;
}

.supplies
{
    max-height: 150%;
    max-width: 100%;
    
    
}

.supply-section{
    margin-top: 40px;
}

.supply-heading{
    text-align: center;
}

.cameras{
    margin: 0 auto;
}

.computers{
    margin: 0 auto;
}

.accessories{
    margin: 0 auto;
}

.equipment{
    margin: 0 auto;
}

#map{
    min-height: 500px;
    margin-top: 40px;
    
}

















